<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>School Predictor</h1>
        <p class="lead">Predicting Progress Report Grade for NYC public schools.</p>
      </div>
      <div class="buttonbox">
          <button id="querymaker">P.S. 190 Sheffield</button>
      </div>
      <div id="citybox">
          <table class="table">
          </table>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
        var query_for_cities = function() {
            cities = [];
            jQuery.ajax(
              'db_json',
              {success:
                function(data) {
                  cities = data.cities;
                  $("#citybox tr").remove();
                   $("#citybox table").append('<tr><td>School</td><td>Grade 2012-13</td><td>Grade 2011-12</td><td>Grade 2010-11</td><td>Grade 2009-10</td><td>Grade 2008-09</td><td>Grade 2007-08</td><td>Grade 2006-7</td></tr>');
                  for (i=0; i < cities.length; i++) {
                    $("#citybox table").append('<tr><td>' + cities[i]['school'] + '</td><td>' + cities[i]['grade2013'] + '</td><td>' + cities[i]['grade2012'] + '</td><td>'  + cities[i]['grade2011'] + '</td><td>'  + cities[i]['grade2010'] + '</td><td>'  + cities[i]['grade2009'] + '</td><td>'  + cities[i]['grade2008'] + '</td><td>'  + cities[i]['grade2007'] + '</td></tr>');
                  }

                }
              }
            )
        }
        $(document).ready(function() {
            $('#querymaker').click(query_for_cities);
            }
        )
    </script>
  </body>
</html>
