body {
  padding-top: 50px;
}
.title-template {
  padding: 50px 15px;
  text-align: center;
}
.search-template {
  padding: 0px 40px;
  text-align: left;
}
.mytable {
  width: 50%;
  max-width: 50%;
  margin-bottom: 20px;
}
.form-control {
  width: 50%;
}

ul
{
    list-style-type: none;
}
.school-li {
  margin-left: 0;
  margin-right: 10%;
  margin-top: .5em;
  margin-bottom: .5em;
}